html {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

body {
  -webkit-print-color-adjust: exact;
}

div.colourpalette {
  width: 25px;
  height: 25px;
  display: inline-block;
}

@media print {
  #controls {
    display: none !important;
  }

  @page {
    size: landscape;
    margin: 0;
  }
}
